.homepage{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;

}

.sidebar-menu{
    height: 100vh;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2.5em;
    align-items: baseline;
    padding: 1em 0 0 30%;
}

.sidebar-logo{
    font-size: 1.7em;
}

.sidebar-logo > .sidebar-logo--icon{
    padding-right: 0.2em;
}

.sidebar-option>.sidebar-logo--icon{
    padding-right: 0.6em;
}

.sidebar-option{
    font-size: 1.3rem;
}

.sidebar-profile{
    margin-top: auto;
    margin-bottom: 1.35em;
    display: flex;
    gap: 0.7em;
}

.sidebar-profile > .avatar > img{
    height: 2.7em;
}

.sidebar-actual--name{
    font-weight: var(--bold);
}

.create-post{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: aquamarine;
}

.create-post > .avatar {
    align-self: center;
    justify-self: center;
}

.text-area{
    width: 95%;
}

.textarea-data{
    border: 2px solid var(--primary-darker);
    width: 100%;
}

.text-area:focus-within label{
    color: var(--primary-darker);
}

.text-area > .btn {
    margin-left: auto;
}

.users{
    background-color: yellow;
}
