@import "./create-post.css";
@import "./timeline.css";
@import "./profile.css";

.timeline-title{
    font-weight: bold;
    padding: 1em;
}

.timeline-head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.option{
    font-size: 1.2em;
}