.h4{
    padding: 1em;
}

.btn-ghost {
    color: var(--primary-even-darker);
    filter: none;
    border: 2px solid var(--primary-darker);
    background: var(--primary-lighter);
    font-weight: var(--bold);
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.input-data{
    background-color: var(--primary-lighter);
    border: 2px solid var(--primary);
    background: var(--primary-lighter);font-size: large;
    color: var(--primary-even-darker);
}

.remember-check{
    display: block;
}

.remember-check:focus-within label{
    color: var(--primary-darker);
}