:root{
    --primary-lighter: #BBE1FA;
    --primary-light: #3282B8;
    --primary: #0F4C75;
    --primary-dark: #0a3959;
    --primary-darker: #08283d;
    --primary-even-darker: #1B262C;
    --black: #000;
    --white: #fff;
}

    body{
    background: var(--primary-even-darker);
    color: var(--primary-lighter);
}

a {
    all: unset;
    cursor: pointer;
}