.timeline{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5em;
    /* border-top: 1px solid var(--primary-lighter); */
}

.timeline > .post{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.post-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-logo--icon{
    padding-left: 5px;
}