.landing{
  display:flex;
  flex-wrap: nowrap;
}

.landing-poster{
  width: 50%;
  height: 100vh;
}

.landing-poster--image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landing-icon{
  background-color: red;
}

.landing-poster--icon{
  position: absolute
}