@import "./reset.css";

.landing{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.landing-poster{
  width: 30%;
}

.landing-highlight{
  color: var(--primary-darker);
}

.landing-content--icon{
  font-size: xx-large;
}

.landing-title{
  color: var(--primary);
}

.btn-ghost {
  color: var(--primary-dark);
  filter: none;
  border: 2px solid var(--primary);
  background: var(--primary-lighter);
  font-weight: var(--bold);
  text-align: center;
}